.crash_dumps/
.dart_code_test_data_dir/
.dart_code_test_logs/
.dart_tool/
.dcud/
.DS_Store
.flutter-plugins/
.nyc_output/
.packages
.pub/
.test_results/
.vscode-test/
.vscode/.browse.VC.db*
*.log
**/test_projects/**/.flutter-plugins*
**/test_projects/**/windows/
build/
coverage/
Generated.xcconfig
ios/.generated/
logs/
node_modules/
out/
pubspec.lock
