.dart_code_test_logs/**
.gitattributes
.github/
.gitignore
.nyc_output/**
.test_results/**
.travis.yml
.vscode-test/**
.vscode/**
*.log
**/*.map
appveyor.yml
CONTRIBUTING.md
coverage/**
lints/**
logs/**
media/screenshots/**
out/src/test/**
out/tool/**
package-lock.json
src/**
tool/**
tool/**
tsconfig.json
tslint.json
typings/**
