.gitattributes
.gitignore
.nyc_output/**
.travis.yml
.vscode-test/**
.vscode/**
*.log
**/*.map
appveyor.yml
CONTRIBUTING.md
coverage/**
tool/**
logs/**
media/screenshots/**
out/test/**
package-lock.json
src/**
test/**
tsconfig.json
tslint.json
typings/**
