.crash_dumps/
.dart_code_test_data_dir/**
.dart_code_test_logs/**
.dcud/**
.devcontainer/
.eslintrc.js
.gemini/
.gitattributes
.github/
.gitignore
.gitmodules
.nyc_output/**
.test_results/**
.vscode-test/**
.vscode/**
*.log
*.vsix
**/.git
**/.gitattributes
**/*.map
CONTRIBUTING.md
coverage/**
lints/**
logs/**
media/screenshots/**
node_modules/**
out/src/**
out/test/**
out/tool/**
package-lock.json
src/**
tool/**
tsconfig.*.json
tsconfig.json
typings/**
webpack.config.js
